
@{
    ViewBag.Title = "BookError";
    Layout = "~/Views/Shared/_Shared.cshtml";
}

    <fieldset>

        <legend align=" center">Book already exists!</legend>

        <div class="bookError">The ISBN you have entered already exist. Please enter different one!</div>
        <div class="grid">
            <a href="/Book/Add" class="change1">Add more books</a>
        </div>
    </fieldset>

