
@{
    ViewBag.Title = "UserError";
    Layout = "~/Views/Shared/_Shared.cshtml";
}


<fieldset>

    <legend align=" center">Username or password already exists!</legend>

    <div class="bookError">The Username or password you have entered already exist. Please enter different ones!</div>
    <div class="grid">
        <a href="/Users/Registration" class="change1">Register</a>
    </div>
</fieldset>


